body {
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
    background-image: url("todo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(3, 28, 36);
  }
  input[type="text"] {
    padding: 15px;
    font-size: 20px;
    color: antiquewhite;
    width: 50%;
    margin-bottom: 25px;
    background-color: rgb(32, 77, 92);
  }
  
  button {
    padding: 20px 30px;
    font-size: 15px;
    background-color: rgb(3, 28, 36);
    color: white;
    border: 15 px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(56, 83, 92);
    color: rgb(247, 238, 238);
    border-radius: 10px;
    text-align: left;
  }
  
  .edit-btn, .delete-btn {
    background-color: rgb(3, 28, 36);
    color: rgb(219, 208, 208);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
